{% if error %}
<!--<script>-->
<!--    alert('{{ error }}');-->
<!--</script>-->
{{error}}

{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titlexx</title>
</head>
<body>

<form method="post" action="">
    {% csrf_token %}
    User :
    <input type="text" name="username" required /><br>
    Email :
    <input type="email" name="email" required /><br>

    password :
    <input type="password" name="password" required /><br>

    Year :<br>
    <input type="radio" name="year" value="first" />First<br>
    <input type="radio" name="year" value="second" />Second<br>
    <input type="radio" name="year" value="third" />Third<br>
    <input type="radio" name="year" value="fourth" />Fourth<br>
    <br>

    Branch :<br>
    <input type="radio" name="branch" value="cse" />Cse<br>
    <input type="radio" name="branch" value="mnc" />Mnc<br>
    <input type="radio" name="branch" value="civil" />Civil<br>
    <input type="radio" name="branch" value="mech" />Mech<br><br><br>

    Position :<br>
    <input type="radio" name="admin" value="General" />General<br>
    <input type="radio" name="admin" value="Maths" />Maths<br>
    <input type="radio" name="admin" value="Science" />Science<br>
    <input type="radio" name="admin" value="Physics" />Physics<br>
    <input type="radio" name="admin" value="Data_Structure" />Data_Structure<br>
    <input type="radio" name="admin" value="Cadence" />Cadence<br>
    <input type="radio" name="admin" value="Montage" />Montage<br>
    <input type="radio" name="admin" value="Coding_Club" />Coding_Club<br>
    <input type="radio" name="admin" value="Xpression" />Xpression<br>



    <input type="submit" value="signup">

</form>
<br>

</body>
</html>
