{% if error %}
<!--<script>-->
<!--    alert('{{ error }}');-->
<!--</script>-->
{{error}}

{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titlexx</title>
</head>
<body>

<form method="post" action="">
    {% csrf_token %}
    Notes_Title :
    <input type="text" name="notes_name"  required /><br>
    <br>

    Upload Notes:
        <input type="file" name="url" id="files" required />
        <br>


    <input type="submit" value="publish">

</form>
<br>

</body>


</html>
