{% extends "base.html" %}
{% block js %}
{% if error %}
<!--<script>-->
<!--    alert('{{ error }}');-->
<!--</script>-->
{{error}}
{% endif %}
{% endblock %}


{% block main %}
<form method="post"   class="text-center border border-light p-5" action="">
    {% csrf_token %}
    Book Title :
    <input type="text" class="form-control mb-4" name="book_name"  required /><br>

      Upload Books:
        <input type="file"class="form-control mb-4" name="url" id="files" required />
        <br>

    <input type="submit" class="form-control mb-4" value="Add">

</form>
<br>
{% endblock %}


