{% extends "base.html" %}
{% block js %}
{% if error %}
<!--<script>-->
<!--    alert('{{ error }}');-->
<!--</script>-->
{{error}}
{% endif %}
{% endblock %}


{% block main %}
    <form method="post" action="">
    {% csrf_token %}
<!--    Uploaded by :-->
<!--    <input type="text" name="username" value="{{user.details.username}}" disabled /><br>-->
    Book Title :
    <input type="text" name="course_name"  required /><br>
    <input type="text" name="link"  required /><br>
    Tags :<br>
    <input type="radio" name="tags" value="Maths" />Maths<br>
    <input type="radio" name="tags" value="Science" />Science<br>
    <input type="radio" name="tags" value="Physics" />Physics<br>
    <input type="radio" name="tags" value="Data_Structure" />Data Structure<br>
    <br>
    <input type="submit" value="Add">

</form>
<br>
{% endblock %}
