{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{user.details.username}}<br>
{{user.details.admin}}<br>

{% if user.details.admin == 'Maths' or user.details.admin == 'Science' or user.details.admin == 'Physics' or user.details.admin == 'Data_Structure' %}
{% endif %}




<div class="container " >
  <div class="card border-dark mb-3" style="width:400px" >
    <img class="add_notes" src="{% static 'home/add_notes.png' %}" alt="Card image" style="width:60%">
    <div class="card-body">
      <h4 class="card-title" align="center">Add_Notes</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="{% url 'home:add_notes' %}" class="btn btn-primary">Add_Notes</a>
    </div>
  </div>
  <br>
</div>


<div class="container" >
  <div class="card border-dark mb-3" style="width:400px" >
    <img class="add_notes" src="{% static 'home/view_notes.png' %}" alt="Card image" style="width:60%">
    <div class="card-body">
      <h4 class="card-title">View_Notes</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="{% url 'home:view_notes' %}" class="btn btn-primary">View_Notes</a>
    </div>
  </div>
  <br>
</div>

<div class="container" >
  <div class="card border-dark mb-3" style="width:400px" >
    <img class="add_notes" src="{% static 'home/view_requests.jpeg' %}" alt="Card image" style="width:60%">
    <div class="card-body">
      <h4 class="card-title">view_requests</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="{% url 'home:view_requests' %}" class="btn btn-primary">view_requests</a>
    </div>
  </div>
  <br>
</div>

<div class="container" >
  <div class="card border-dark mb-3" style="width:400px" >
    <img class="add_notes" src="{% static 'home/notifications.jpg' %}" alt="Card image" style="width:60%">
    <div class="card-body">
      <h4 class="card-title">notifications</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="{% url 'home:notifications' %}" class="btn btn-primary">notifications</a>
    </div>
  </div>
  <br>
</div>

{% if user.details.admin == 'Cadence' or user.details.admin == 'Montage' or user.details.admin == 'Coding_Club' or user.details.admin == 'Xpression' %}
{% endif %}


<div class="container" >
  <div class="card border-dark mb-3" style="width:400px" >
    <img class="add_notes" src="{% static 'home/add_club.png' %}" alt="Card image" style="width:60%">
    <div class="card-body">
      <h4 class="card-title">add_club</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="{% url 'home:add_club' %}" class="btn btn-primary">add_club</a>
    </div>
  </div>
  <br>
</div>

<div class="container" >
  <div class="card border-dark mb-3" style="width:400px" >
    <img class="add_notes" src="{% static 'home/display_clubs.jpg' %}" alt="Card image" style="width:60%">
    <div class="card-body">
      <h4 class="card-title">display_clubs</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="{% url 'home:display_clubs' %}" class="btn btn-primary">display_clubs</a>
    </div>
  </div>
  <br>
</div>


{% if user.details.admin == 'Maths' or user.details.admin == 'Science' or user.details.admin == 'Physics' or user.details.admin == 'Data_Structure' %}
{% endif %}

<div class="container" >
  <div class="card border-dark mb-3" style="width:400px" >
    <img class="add_notes" src="{% static 'home/addbooks.jpg' %}" alt="Card image" style="width:60%">
    <div class="card-body">
      <h4 class="card-title">addbook</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="{% url 'home:addbook' %}" class="btn btn-primary">addbook</a>
    </div>
  </div>
  <br>
</div>

<div class="container" >
  <div class="card border-dark mb-3" style="width:400px" >
    <img class="add_notes" src="{% static 'home/displaybook.jpg' %}" alt="Card image" style="width:60%">
    <div class="card-body">
      <h4 class="card-title">displaybook</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="{% url 'home:displaybook' %}" class="btn btn-primary">displaybook</a>
    </div>
  </div>
  <br>
</div>

<a href="{% url 'accounts:logout' %}">logout</a>
</body>
</html>
